<!-- footer -->
<section class="top-footer hide-for-small-only">
    <div class="row features">
        <div class="small-12 columns center">
            <div>用创新与美建立高品质的生活体验</div>
            <div>Create high quality life experience with innovation and beauty</div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="row">
##        <div class="small-12 medium-12 large-4 columns">
##            <ul class="foot-logo">
##                <img src="$!{imageUrlPrefix}/images/logo/logo-white-small.png" alt="挑品公众号">
##            </ul>
##        </div>

        <div class="small-12 medium-6 large-5 columns">
            <p class="logo">
                <i class="fi-shield"></i> 挑品购物问答
                <span class="about subheader"></span>
            </p>
            <p class="footer-links">
                <a href="/">主页</a>
                <a href="#" class="unsupported-section">专题</a>
                <a href="#" class="unsupported-section">常见问题</a>
                <a href="/contact">联系我们</a>
            </p>
            <p class="copywrite">邮箱：service@itiaopin.com</p>
            <p class="copywrite">客服热线：400-820-8200</p>
            <p class="copywrite">玖选（北京）科技发展有限公司</p>
            <p class="copywrite">京ICP备16000451号-2</p>
            <p class="copywrite">COPYRIGHT © 2015-2019. All rights Reserved.</p>
        </div>
##        <div class="small-12 medium-6 large-4 columns">
##            <ul class="contact">
##                <li><p><i class="fi-marker"></i>北京市东城区霄云路国航大厦</p></li>
##                <li><p><i class="fi-telephone"></i>400-820-8200</p></li>
##                <li><p><i class="fi-mail"></i>service@world-lace.com</p></li>
##            </ul>
##        </div>
        <div class="small-12 medium-12 large-3 columns">
            <ul class="inline-list social">
                <p class="about subheader">微信公众号，关注我们：</p>
                <img src="$!{imageUrlPrefix}/images/user/qrcode.jpg" alt="挑品公众号">
            </ul>
        </div>
    </div>
</section>

<!-- end of mobile header -->
</div>
</div>
</div>


<script src="$!{cssUrlPrefix}/script/vendor/foundation.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightslider.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightgallery.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lg-thumbnail.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/notyf.min.js"></script>
<script>
    $(document).foundation();
    jQuery(document).ready(function($) {

        $('#banner-slider').lightSlider({
            adaptiveHeight:true,
            item:1,
            slideMargin:0,
            loop:true,
            auto: true,
            pause: 7000,
            controls: false,
            pauseOnHover: true,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 1000,
            responsive : [
                {
                    breakpoint:500,
                    settings: {
                        controls: false
                    }
                }
            ]
        });
        $('#lightSlider-s').lightSlider({
            item:1,
            loop:true,
            slideMove:1,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed:600,
            enableDrag: true,
            controls: false,
            auto:false
        });

        $(".hide-before-js-ready").show();

    });
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    window._bd_share_config = {
        common : {
            bdText : '桃源网 - $!{skuItem.title}',
            bdDesc : '$!{skuItem.subTitle}',
            bdUrl : window.location.href,
            bdPic : '$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/0.jpg@!item-head'
        },
        share : [{
            "bdSize" : 16,
            "bdCustomStyle" : "javascript:void(0)"
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    var $successModal = $("#successModal"),
        $successHdr = $("#successHdr"),
        $successMsg = $("#successMsg"),
        $failModal = $("#failModal"),
        $failHdr = $("#failHdr"),
        $failMsg = $("#failMsg");

    function presentSuccessModal(header, message) {
            $successHdr.html(header);
            $successMsg.html(message);
            $successModal.foundation("open");
    }
    function presentFailModal(header, message) {
            $failHdr.html(header);
            $failMsg.html(message);
            $failModal.foundation('open');
    }
    function hideSuccessModal() {
            $successModal.foundation("close");
    }
    function hideFailModal() {
            $failModal.foundation('close');
    }
    $('.aniimated-thumbnials').lightGallery({
        thumbnail: true,
        selector: '.review-img'
    });
</script>
<script src="$!{cssUrlPrefix}/script/vendor/what-input.min.js"></script>
<script src="$!{cssUrlPrefix}/script/user/common.js"></script>
</body>
</html>