#* @vtlvariable name="aidSkuListMap" type="java.util.Map<java.lang.Long, java.util.List<nanshen.data.Sku.Sku>>" *#
#* @vtlvariable name="URLDecoder" type="java.net.URLDecoder" *#
#* @vtlvariable name="StringEscapeUtils" type="org.apache.commons.lang.StringEscapeUtils" *#
#* @vtlvariable name="complexQuestion" type="nanshen.data.Question.ComplexQuestion" *#
#* @velocityproperties path="/WEB-INF/velocity" *#
#* @vtlvariable name="pageType" type="nanshen.data.SystemUtil.PageType" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/question.css"/>

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">$!{pageType}</div>
</div>

<section class="q">
    <div class="q-title">
        $!{complexQuestion.question.title}
    </div>
    <div class="q-description">
        $!{complexQuestion.question.description}
    </div>
    <div class="q-function">
        <span class="q-share unsupported-section"><i class="fa fa-share" aria-hidden="true"></i> 分享</span>
        &nbsp ∙ &nbsp
        <span class="q-ask unsupported-section"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> 邀请回答</span>
        <span class="q-report unsupported-section"><i class="fa fa-flag" aria-hidden="true"></i> 举报</span>
    </div>
</section>

<section class="a-list">

    #foreach ($answer in $!{complexQuestion.answerList})
    #set ($skuList = $!{aidSkuListMap.get($answer.getId())})
    #foreach ($sku in $skuList)
        <div class="sku-info hide" id="sku-info-$sku.id" data-title="$sku.title"
                data-subtitle="$sku.subTitle" data-url="$sku.url" data-price="$sku.price" data-showid="$sku.showId">
        </div>
    #end

    <div class="a-list-item">
        <div class="list-item-share">
            <i class="fi-share"></i>
        </div>
        <div class="list-item-user" id="list-item-user-$velocityCount" data-answer-id="$velocityCount">
            <img src="${imageUrlPrefix}/images/logo/3.jpg" alt=""/>
            <span class="item-user-name">$!{answer.userName}</span>
            #if ("$!{answer.userDesc}" != "")
            <span class="item-user-desc">，$!{answer.userDesc}</span>
            #end
        </div>
        <div class="list-item-content">
##            #set ($skuList = $!{aidSkuListMap.get($answer.getId())})
##            #foreach ($sku in $skuList)
##                <div class="sku" id="sku-$sku.id" data-id="$sku.id">
##                    <a href="$sku.url">
##                        <div class="sku-img">
##                            <img src="http://image-cdn.zaitaoyuan.com/images/tiaopin/answer/30/5.png">
##                        </div>
##                        <div class="sku-detail">
##                            <div class="sku-title">$sku.title</div>
##                            <div class="sku-subtitle">$sku.subTitle</div>
##                            <div class="sku-price">￥$sku.price</div>
##                        </div>
##                        <div class="sku-function">
##                            <i class="fa fa-heart-o" aria-hidden="true"></i> 12
##                        </div>
##                    </a>
##                </div>
##            #end
            $!{answer.content}
        </div>
        <div class="a-function">
            <span class="a-info">最后编辑于$!{answer.showUpdateTime}</span>
            &nbsp ∙ &nbsp
            <span class="a-comment unsupported-section"><i class="fa fa-commenting-o" aria-hidden="true"></i> $!{answer.commentCnt}评论</span>
            &nbsp ∙ &nbsp
            <span class="a-thanks unsupported-section">举报</span>
        </div>
    </div>
    #end

    <div class="navbot">
        <div class="answer-up">
            <i class="fa fa-sort-asc" aria-hidden="true"> </i>
        </div>
        <div class="answer-down">
            <i class="fa fa-sort-desc" aria-hidden="true"> </i>
        </div>
        <div class="wrap-up">
            收起
        </div>
        <div class="check-skus">
            查看商品
        </div>
    </div>

</section>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript" src="$!{cssUrlPrefix}/script/user/question.js"></script>
#parse("user/footer.vm")