#* @vtlvariable name="questionList" type="java.util.List<nanshen.data.Question.ComplexQuestion>" *#
#parse("user/header.vm")
<link rel="stylesheet" href="/css/user/topic.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content" id="topic-page-content">
    <div class="topic-img-wrapper">
        <img src="$topic.imgUrl" alt=""/>
    </div>

    #foreach ($question in $questionList)
        <div class="a-list-item">
            <div class="home-list-item">
                <div class="list-item-share">
                    <i class="fi-share"></i>
                </div>
                <div class="list-item-user">
                    <img src="$!{question.userInfo.imgUrl}" alt=""/>
                    <span class="item-user-name">$!{question.userInfo.username}</span>
                    #if ("$!{question.userInfo.userDesc}" != "")
                        <span class="item-user-desc">，$!{question.userInfo.userDesc}</span>
                    #end
                </div>

                <div class="list-item-title">
                    $question.question.title
                </div>

                <div class="list-item-preview">
                    <a href="/a?aid=$!{question.showId}">
                        $!{question.question.description}
                    </a>
                </div>
            </div>
            <div class="a-function">
                <span class="a-comment unsupported-section"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> $!{question.question.subCnt}关注</span>
                &nbsp ∙ &nbsp
                <span class="a-thanks unsupported-section">举报</span>
            </div>
        </div>
    #end

</div>
<!-- end of this page contents -->

<!-- start of footer-->
#parse("user/footer.vm")